.env

.pyc
llmops/rag/__pycache__/__init__.cpython-311.pyc
llmops/rag/__pycache__/rag.cpython-311.pyc
llmops/aimodel/__pycache__/__init__.cpython-311.pyc
llmops/aimodel/__pycache__/ai_model.cpython-311.pyc
llmops/aisearch/__pycache__/__init__.cpython-311.pyc
llmops/aisearch/__pycache__/ai_search.cpython-311.pyc
llmops/rag/__pycache__/session_store.cpython-311.pyc
llmops/app.log
llmops/flow/app.log
llmops/flow/__pycache__/__init__.cpython-311.pyc
llmops/flow/__pycache__/flow.cpython-311.pyc
llmops/utils/__pycache__/__init__.cpython-311.pyc
llmops/utils/__pycache__/utils.cpython-311.pyc
llmops/flow/config.json
llmops/__pycache__/runflow_client.cpython-311.pyc
llmops/__pycache__/runflow.cpython-311.pyc
llmops/rag/__pycache__/rag_main.cpython-311.pyc
llmops/rag/__pycache__/runflow_client.cpython-311.pyc
llmops/config.json
llmops/__pycache__/runflow_local.cpython-311.pyc
llmops/__pycache__/evalflow.cpython-311.pyc
llmops/batch_output_20241026181329.txt
llmops/batch_eval_output_20241026181329.txt
llmops/batch_flow_output.txt
llmops/batch_eval_output_20241026202304.txt
llmops/batch_output_20241026202304.txt
llmops/deployment/flow/batch_eval_output_20241026202304.txt
llmops/deployment/flow/batch_output_20241026202304.txt
llmops/deployment/flow/batch_flow_output.txt
llmops/deployment/flow/aimodel/__pycache__/__init__.cpython-311.pyc
llmops/deployment/flow/aimodel/__pycache__/ai_model.cpython-311.pyc
llmops/deployment/flow/aisearch/__pycache__/__init__.cpython-311.pyc
llmops/deployment/flow/aisearch/__pycache__/ai_search.cpython-311.pyc
llmops/deployment/flow/deployment/flow/llmops/batch_eval_output_20241026202304.txt
llmops/deployment/flow/deployment/flow/llmops/batch_output_20241026202304.txt
llmops/deployment/flow/deployment/flow/llmops/batch_flow_output.txt
llmops/deployment/flow/app.log
llmops/deployment/flow/rag/__pycache__/__init__.cpython-311.pyc
llmops/deployment/flow/rag/__pycache__/rag_main.cpython-311.pyc
llmops/deployment/flow/rag/__pycache__/session_store.cpython-311.pyc
llmops/deployment/flow/utils/__pycache__/__init__.cpython-311.pyc
llmops/deployment/flow/utils/__pycache__/utils.cpython-311.pyc
llmops/deployment/flow/llmops/batch_eval_output_20241026202304.txt
llmops/deployment/flow/llmops/batch_flow_output.txt
llmops/deployment/flow/llmops/batch_output_20241026202304.txt
llmops/deployment/flow/llmops/deployment/flow/llmops/app.log
llmops/deployment/flow/llmops/deployment/flow/llmops/batch_eval_output_20241026202304.txt
llmops/deployment/flow/llmops/deployment/flow/llmops/batch_output_20241026202304.txt
llmops/deployment/flow/deployment/flow/llmops/app.log
llmops/deployment/flow/llmops/deployment/flow/llmops/batch_flow_output.txt
llmops/batch_eval_output_20241027133901.txt
llmops/batch_output_20241027133901.txt
llmops/requirements_prv.txt
llmops/batch_eval_output_20241029223406.txt
llmops/eval_results_20241029223406.txt
llmops/aimodel/model-test.ipynb
llmops/aimodel/model-test.ipynb
llmops/aimodel/model-test.ipynb
llmops/aimodel/model-test.ipynb
llmops/batch_eval_output_20241101165412.json
llmops/batch_eval_output_20241101170635.json
llmops/eval_results_20241101165412.json
llmops/eval_results_20241101170635.json
llmops/aimodel/model-test.ipynb
llmops/evaluation/__pycache__/__init__.cpython-311.pyc
llmops/evaluation/__pycache__/evalflow.cpython-311.pyc
